/*Editando o menu*/

.bg-menu {
    background: #e3672b;
    text-transform: uppercase;
    font-weight: bold;
}

.text-color {
    color: #FFF !important;
}

.item > li {
    padding: 0 5px;
    text-align: center;
}

.dropItem > div{
    text-align: center;
}

.exit {
    background: #FFF !important;
}
.exit > div {
    color: #000;
    text-align: center;
}

.actived{
	border-bottom: 3px solid #FFF;
}