/*Editando o menu*/

.bg-menu {
    text-transform: uppercase;
    font-weight: bold; 
}

.logotipo-img{
    width: 100px;
    height: 100px;
}

.bgWhite{
    background: #FFF;
    border-bottom: 1px solid #e3672b; 
    box-shadow: 0px 0px 10px #e3672b;
}
.bgOrange{
    background: #e3672b;
}
.text-color {
    color: #e3672b !important;
    letter-spacing: 1px;
}

.bgWhite .text-color{
    color: #e3672b !important;
}

.bgOrange .text-color{
    color: #FFF !important;
}

.logo{
    color: #e3672b !important;
}

.item > li {
    padding: 0 5px;
    text-align: center;
}

.dropItem > div{
    text-align: center;
}

.exit {
    background: #FFF !important;
}
.exit > div {

    color: #000;
    text-align: center;
}

.actived{
	border-bottom: 3px solid #FFF;
}