/*Editando o menu*/

.bg-menu {
    background: #e3672b;
    /* background: #7D3C98; */
    text-transform: uppercase;
    font-weight: bold;
    box-shadow: 0px 0px 10px #000;
}

.text-color {
    color: #FFF !important;
}

.logo{
    color: #FFF !important;
}

.item > li {
    padding: 0 5px;
    text-align: center;
}

.dropItem > div{
    text-align: center;
}

.exit {
    background: #FFF !important;
}
.exit > div {

    color: #000;
    text-align: center;
}

.actived{
	border-bottom: 3px solid #FFF;
}