.container-app{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 5vh 87vh 8vh;
  grid-template-areas: "menu menu"
                  "wallpaper login"
                  "footer footer";
}

.menu{
  grid-area: menu;
}

.wallpaper {
  grid-area: wallpaper;
  background: #CB4335;
}

.login {
  grid-area: login;
  align-self: center;
}

.footer {
  grid-area: footer;
}

@media only screen and (max-width: 990px) {
  .wallpaper{
    opacity: 0;
  }

  .login{
    grid-column: 1 / span 2;
  }


}