.container-app{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 5vh 95vh;
  grid-template-areas: "menu"
                  "conten";
}

.menu{
  grid-area: menu;
}

.content{
  grid-area: conten; 
}