.containerTitleMain{
  width: 100%;
  padding: 40px 0 8px 0;
  border-bottom: 1px solid grey;
}

.containerTitleMain__title{
  text-align: center;
  font-weight: bold;
  color: grey;
  text-transform: uppercase;
}

@media only screen and (max-width: 1250px) {
  .containerMain{
    padding: 9vh 0 0 0;
  }
}
@media only screen and (max-width: 850px) {
  .containerMain{
    padding: 6vh 20px 6vh 20px;
  }

}


.containerMain div.containerCard{
  width: 380px;
}

.containerMain .spinner{
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
    padding: 10px 0 0 0;
}